NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAZGvVi1dpVXsT2lMco466wzwBzEUIAY_w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=apusenirental.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=apusenirental
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=apusenirental.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=712212349332
NEXT_PUBLIC_FIREBASE_APP_ID=1:712212349332:web:ea189aa27fcb084d490f81
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-E0PGE7D8H7
